---
// Importiere die Daten aus der Datei information.js
import { infoDataMap } from "../../data/information.js";

// Greife auf die Route-Parameter zu, um die spezifischen Informationen zu laden
const { informationen } = Astro.params;

// Hole die Daten basierend auf dem Wert von 'informationen'
const infoData = infoDataMap[informationen];

if (!infoData) {
  throw new Error(`Keine Daten für ${informationen}`);
}
---

<main class="flex justify-center">
  <section class="bg-white dark:bg-gray-900">
    <div
      class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-1 lg:py-16 lg:px-6"
    >
      <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
        <h2
          class="mb-4 text-3xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          {infoData.title[1]}
          <!-- Erster Titel dynamisch -->
        </h2>
        <p class="mb-4">
          {infoData.description[0]}
          <!-- Erste Beschreibung dynamisch -->
        </p>
        <div class="grid grid-cols-2 gap-4 mt-8">
          <img
            class="w-full rounded-lg"
            src={infoData.images[1]}
            alt="Bild 1"
          />
          <img
            class="mt-4 w-full lg:mt-10 rounded-lg"
            src={infoData.images[2]}
            alt="Bild 2"
          />
        </div>
        <p class="mt-8">
          {infoData.description[1]}
          <!-- Zweite Beschreibung dynamisch -->
        </p>
      </div>
    </div>
  </section>
</main>
