---
const features = [
  {
    title: "Entdecke Heilbronn, eine Stadt mit einer reichen Geschichte.",
    icon: "/ortsschilder/ortsschild-heilbronn.png",
    link: "/teppichreinigung-heilbronn",
  },
  {
    title:
      "Willkommen in Stuttgart, einer wunderschönen Stadt in Baden-Württemberg.",
    icon: "/ortsschilder/ortsschild-stuttgart.png",
    link: "/teppichreinigung-stuttgart",
  },
  {
    title:
      "Erlebe Ludwigsburg, bekannt für sein Barockschloss und charmante Altstadt.",
    icon: "/ortsschilder/ortsschild-ludwigsburg.png",
    link: "/teppichreinigung-ludwigsburg",
  },
  {
    title:
      "Entdecke Mannheim, die Quadratestadt mit einem vielfältigen Kulturangebot.",
    icon: "/ortsschilder/ortsschild-mannheim.png",
    link: "/teppichreinigung-mannheim",
  },
  {
    title:
      "Willkommen in Mosbach, einer charmanten Stadt im Neckar-Odenwald-Kreis.",
    icon: "/ortsschilder/ortsschild-mosbach.png",
    link: "/teppichreinigung-mosbach",
  },
  {
    title: "Entdecke Neckarsulm, eine Stadt mit reicher Automobilgeschichte.",
    icon: "/ortsschilder/ortsschild-neckarsulm.png",
    link: "/teppichreinigung-neckarsulm",
  },
  {
    title: "Erlebe Pforzheim, bekannt als Goldstadt Deutschlands.",
    icon: "/ortsschilder/ortsschild-pforzheim.png",
    link: "/teppichreinigung-pforzheim",
  },
  {
    title:
      "Willkommen in Reutlingen, einer Stadt am Fuße der Schwäbischen Alb.",
    icon: "/ortsschilder/ortsschild-reutlingen.png",
    link: "/teppichreinigung-reuitlingen",
  },
  {
    title: "Entdecke Sinsheim, Heimat des berühmten Technik Museums.",
    icon: "/ortsschilder/ortsschild-sinsheim.png",
    link: "/teppichreinigung-sinsheim",
  },
  {
    title:
      "Willkommen in Waiblingen, einer historischen Stadt in Baden-Württemberg.",
    icon: "/ortsschilder/ortsschild-waiblingen.png",
    link: "/teppichreinigung-waiblingen",
  },
  {
    title:
      "Entdecke Heidelberg, eine Stadt mit weltberühmter Universität und Schloss.",
    icon: "/ortsschilder/ortsschild-heidelberg.png",
    link: "/teppichreinigung-heidelberg",
  },
  {
    title: "Entdecke Karlsruhe, eine lebendige Stadt in Baden-Württemberg.",
    icon: "/ortsschilder/ortsschild-karlsruhe.png",
    link: "/teppichreinigung-karlruhe",
  },
];
---

<section class="bg-white dark:bg-gray-900">
  <div
    class="py-8 px-4 mx-auto max-w-screen-2xl pb-16 sm:py-16 lg:px-6 text-center"
  >
    <div class="mb-8 lg:mb-16">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        Unsere Regionen
      </h2>
      <p class="text-gray-500 sm:text-xl dark:text-gray-400">
        Jede Stadt hat ihren eigenen Charme, und wir sind für Sie da, um in
        diesen wunderschönen Orten für Sauberkeit zu sorgen.
      </p>
    </div>

    <div
      class="space-y-8 md:grid sm:grid-cols-2 xl:grid-cols-3 md:gap-12 md:space-y-0"
    >
      {
        features.map((feature) => (
          <div>
            {" "}
            {/* Hier wird der Link hinzugefügt */}
            <div class="image flex justify-center block-animation">
              <a href={feature.link}>
                <img
                  src={feature.icon}
                  alt={feature.title}
                  class="object-cover transition-opacity duration-500 opacity-0"
                  onload="this.style.opacity='1';"
                />
              </a>
            </div>
            {/* <div class="relative bg-gradient-to-r from-blue-400 via-purple-400 to-blue-600 rounded-lg overflow-hidden">
            
              <div class="h-40 w-full" />
            </div> */}
            <h3 class="mt-4 px-16 text-xl font-bold dark:text-white text-center">
              {feature.title}
            </h3>
            {/* {feature.text && (
              <p class="text-gray-500 dark:text-gray-400">{feature.text}</p>
            )} */}
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  @media (width <= 1550px) {
  }

  @media (width <= 639px) {
    .eine {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
</style>
