---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import FooterBanner from "../components/FooterBanner.astro";
import Header from "../components/Header.astro";
import Cta from "../components/information/Cta.astro";
import Cta2 from "../components/information/Cta2.astro";
import Hero from "../components/information/hero.astro"; // Hero-Sektion
import { infoList, infoDataMap } from "../data/information.js";
import { SEO } from "astro-seo";
import { Schema } from "astro-seo-schema";

// Generiere dynamische Routen basierend auf der infoList
export async function getStaticPaths() {
  return infoList.map((info) => ({
    params: { informationen: info }, // Hier nutzen wir 'informationen' als Parameter
    props: { info }, // Extra Props
  }));
}

// Greife auf den Parameter 'informationen' aus der URL zu
const { informationen } = Astro.params;

// Hole die Daten basierend auf dem Wert von 'informationen'
const infoData = infoDataMap[informationen];

if (!infoData) {
  throw new Error(`Keine Daten für ${informationen}`);
}
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <title>{infoData.title[0]}</title>
    <ViewTransitions />

    <!-- SEO Component -->
    <SEO
      title={infoData.title[0]}
      description={infoData.description[0]}
      openGraph={{
        basic: {
          title: infoData.title[0],
          type: "article",
          image: `https://ensa-teppichreinigung.de${infoData.images[0]}`,
          url: `https://ensa-teppichreinigung.de/information/${informationen}`,
        },
      }}
      twitter={{
        creator: "@ensateppichreinigung",
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          {
            name: "twitter:image",
            content: `https://ensa-teppichreinigung.de${infoData.images[0]}`,
          },
          { name: "twitter:title", content: infoData.title[0] },
          {
            name: "twitter:description",
            content: infoData.description[0],
          },
        ],
      }}
    />

    <!-- Schema.org Component -->
    <Schema
      item={{
        "@context": "https://schema.org",
        "@type": "Article",
        headline: infoData.title[0],
        description: infoData.description[0],
        image: `https://ensa-teppichreinigung.de${infoData.images[0]}`,
        author: {
          "@type": "Organization",
          name: "ENSA Teppichreinigung",
        },
        mainEntityOfPage: `https://ensa-teppichreinigung.de/information/${informationen}`,
        datePublished: "2024-01-01",
        dateModified: "2024-01-01",
      }}
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
    />
  </head>
  <body>
    <Header />
    <!-- Hero-Sektion: Übergebe die richtigen Props an die Hero-Komponente -->
    <Hero title={infoData.title[0]} image={infoData.images[0]} />
    <Cta information={informationen} />
    <Cta2 information={informationen} />
    <FooterBanner />
    <Footer />
  </body>
</html>
