---
import Banner from "./Banner.astro";
import { Image } from "astro:assets";
import autositze from "../assets/autositze-hero.webp";
import teppichreinigung from "../assets/Teppichreinigung.webp";

import vorort from "../assets/polsterreinigung-vor-ort.webp";
import boden from "../assets/teppichboden-reinigung.webp";
import matratzen from "../assets/Matratzenreinigung.webp";
import kontakt from "../assets/kontakt.webp";
import reparatur from "../assets/die-rerparatur-der-teppiche.webp";
import kettung from "../assets/kettung-von-den-teppichen.webp";
import abholung from "../assets/Lieferwagen-Seite.webp";
---

<section class="bg-white">
  <div class="section1">
    <div
      class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 lg:py-24 flexus"
    >
      <div class="mb-16 flex-col align-middle">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white flexus"
        >
          Profitieren Sie von unserem Teppich Vollservice
        </h2>
        <p class="text-white font-light sm:text-l ml-1 p-correct">
          Entdecken Sie unseren umwelt-freundlich Teppichreinigungsprozess mit
          biologisch abbaubaren Feinwaschmitteln, hochwertige Polsterreinigung
          mit modernster Kärcher-Technik für professionelle <strong
            class="font-bold"
            >Teppichbodenpflege, Autopolster sowie Teppich-reparaturen und
            Kettlung.</strong
          >
        </p>
        <p class="text-white font-light sm:text-l ml-1">
          Nutzen Sie unseren
          <strong class="font-bold"
            >kostenfreien Abhol- und Bringservice ab 99 Euro</strong
          > und profitieren Sie von individueller Beratung für jedes Material.
        </p>
      </div>
      <div
        class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
      >
        <div class="flexus pb-g">
          <div class="flex justify-center items-center mb-4 rounded-full">
            <Image
              src={teppichreinigung}
              class="service-img"
              alt="teppichreinigung-service"
              loading="lazy"
            />
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">
            Teppichreinigung
          </h3>
          <p class="text-white text_center">
            Umweltschohnende tiefe Teppichreinigung
          </p>
          <div class="bottom">
            <div class="btnbox">
              <a href="/teppichreinigung">
                <button
                  class="px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                  >Mehr erfahren</button
                ></a
              >
            </div>
          </div>
        </div>
        <div class="flexus pb-g">
          <div class="flex justify-center items-center mb-4 rounded-full">
            <Image
              class="service-img"
              src={vorort}
              alt="polsterreinigung-vor-ort"
              loading="lazy"
            />
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">
            Polsterreinigung
          </h3>
          <p class="text-white text_center">Spezialiesiert auf dem Gebiet</p>
          <div class="bottom">
            <div class="btnbox">
              <a href="/polsterreinigung">
                <button
                  class="px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                  >Mehr erfahren</button
                ></a
              >
            </div>
          </div>
        </div>
        <div class="flexus pb-g">
          <div class="flex justify-center items-center mb-4 rounded-full">
            <Image
              class="service-img"
              src={boden}
              alt="teppichboden-reinigung"
              loading="lazy"
            />
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">
            Teppichbodenreinigung
          </h3>
          <p class="text-white korrektur text_center">
            Ein Teppichboden benötigt regelmässige eine Reinigung.
          </p>
          <div class="bottom">
            <div class="btnbox">
              <a href="/teppichbodenreinigung">
                <button
                  class="px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                  >Mehr erfahren</button
                ></a
              >
            </div>
          </div>
        </div>
        <div class="flexus pb-g">
          <div class="flex justify-center items-center mb-4 rounded-full">
            <Image
              class="service-img"
              src={matratzen}
              alt="Matratzenreinigung"
              loading="lazy"
            />
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">
            Matratzenreinigung
          </h3>
          <p class="text-white text_center">Für erholsames Schlafen</p>
          <div class="bottom">
            <div class="btnbox">
              <a href="/matratzen">
                <button
                  class="px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                  >Mehr erfahren</button
                ></a
              >
            </div>
          </div>
        </div>
        <div class="flexus pb-g">
          <div class="flex justify-center items-center mb-4 rounded-full">
            <Image
              class="service-img"
              src={autositze}
              alt="kettung-von-den-teppichen"
              loading="lazy"
            />
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">
            Reinigung der Autopolster
          </h3>
          <p class="text-white text_center">
            Hygiene im Auto macht gute Laune.
          </p>
          <div class="bottom">
            <div class="btnbox">
              <a href="/autositze">
                <button
                  class="px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                  >Mehr erfahren</button
                ></a
              >
            </div>
          </div>
        </div>
        <div class="flexus pb-g">
          <div class="flex justify-center items-center mb-4 rounded-full">
            <Image
              class="service-img"
              src={kontakt}
              alt="information"
              loading="lazy"
            />
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">
            Individuelle Kundenberatung
          </h3>
          <p class="text-white text_center">Wir haben ein Ohr für Sie.</p>
          <div class="bottom">
            <div class="btnbox">
              <a href="/individuelle-beratung">
                <button
                  class="px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                  >Mehr erfahren</button
                ></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<Banner />
<section class="bg-white section2">
  <div
    class="flexus py-8 px-4 mx-auto max-w-screen-xl lg:px-6 sm:py-16 lg:py-24"
  >
    <div
      class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
    >
      <div class="flexus pb-g">
        <div class="flex justify-center items-center mb-4 rounded-full">
          <Image
            class="service-img"
            src={kettung}
            alt="kettung-von-den-teppichen"
            loading="lazy"
          />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          Kettlung von Teppichen
        </h3>
        <p class="text-white text_center">
          Struktur und Stabilität sicherstellen.
        </p>
        <div class="bottom">
          <a href="/ketteln">
            <div class="btnbox">
              <button
                class="px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >Mehr erfahren</button
              >
            </div>
          </a>
        </div>
      </div>
      <div class="flexus pb-g">
        <div class="flex justify-center items-center mb-4 rounded-full">
          <Image
            class="service-img"
            src={reparatur}
            alt="die-rerparatur-der-teppiche"
            loading="lazy"
          />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Teppichreparatur</h3>
        <p class="text-white text_center">
          Restaurieren und alte Frische verleihen.
        </p>
        <div class="bottom">
          <div class="btnbox">
            <a href="/teppichreparatur">
              <button
                class="px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >Mehr erfahren</button
              ></a
            >
          </div>
        </div>
      </div>
      <div class="flexus pb-g">
        <div class="flex justify-center items-center mb-4 rounded-full">
          <Image
            class="service-img"
            src={abholung}
            alt="Lieferwagen-Seite"
            loading="lazy"
          />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          Abhol- und Bringservice
        </h3>
        <p class="text-white text_center">
          Ab 99 Euro <span>KOSTENLOS</span>
        </p>
        <div class="bottom">
          <div class="btnbox">
            <a href="/abhol-und-lieferservice">
              <button
                class="px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >Mehr erfahren</button
              ></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .section1 {
    background-image: url("/Baby-auf-blauen-Teppich-3.webp");
    /* background-size: cover;
      background-repeat: no-repeat;
      background-position: 100% 50%; */
    /*     background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 101% 65%;
    background-position: 50% 35%;
    overflow: hidden;
    height: 100vh; */
    display: flex;
    min-height: 65vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*  this is where the magic happens:  */
    background-attachment: fixed;

    background-position: center;
    background-size: cover;
    color: var(--color);
    row-gap: 4rem;

    text-align: center;
  }

  .section2 {
    background-image: url("/Baby-auf-blauen-Teppich-4.webp");
    display: flex;
    padding: 0;
    min-height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*  this is where the magic happens:  */
    background-attachment: fixed;

    background-position: center;
    background-size: cover;
    color: var(--color);
    row-gap: 4rem;

    text-align: center;
  }

  .service-img {
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
    border-radius: 100%;
    width: 140px;
    object-position: 34% 68%;
  }

  h2,
  h3 {
    text-align: left;
    color: white;
  }

  .df {
    display: flex;
  }

  p {
    margin-bottom: 1.5rem;
  }

  .pt {
    padding-top: 48px;
  }

  .flexus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 96%;
  }

  button {
    background-color: #2d6aff00;
    border-radius: 50px;
    border: 2px solid white;
    box-shadow: rgb(0 0 0 / 40%) 0px 7px 29px 0px;
    transition: 1s ease-in-out;
  }

  button:hover {
    border: 2px solid turquoise;
    transform: scale(1.008);
  }

  .p-correct {
    margin-bottom: 0.75rem;
  }
  .korrektur {
    margin-bottom: 0.5rem;
  }

  .btnbox {
    padding-top: 20px;
    padding-bottom: 28px;
  }

  @media (width <= 800px) {
    .flexus,
    p {
      align-items: center;
      padding: 0rem 1.6rem;
    }

    .flexus {
      max-width: 96%;
    }

    h2 {
      margin-bottom: 3rem;
      line-height: 1.3 !important;
    }

    .section1,
    .section2 {
      padding: 60px 0;
    }

    p {
      line-height: 1.5;
      margin-bottom: 0.8rem;
    }

    h3 {
      text-align: center;
    }

    .pb-g {
      margin-bottom: 60px !important;
    }

    .btnbox {
      padding-top: 20px;
    }

    .text_center {
      text-align: center;
    }
  }
</style>
